{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{entrada.0}}" method="POST">
          <div class="form-group">
            <select class="form-control" id="parametros" name="parametros">
              <option value="{{entrada.1}}" selected >{{entrada.1}}</option>
              <option value="Produccion">Producción</option>
              <option value="Oferta">Oferta</option>
              <option value="Demanda">Demanda</option>
            </select>
          </div>
          <div class="form-group">
            <label>Dataset:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dataset" id="dataset1" value="dataset1" checked >
              <label class="form-check-label" for="exampleRadios1">
                dataset 1
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dataset" id="dataset2" value="dataset2">
              <label class="form-check-label" for="exampleRadios2">
                dataset 2
              </label>
          </div>
          <div class="form-group">
            <input type="text" name="archivo" value="{{entrada.3}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="descripcion" value="{{entrada.4}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="tipo_producto" value="{{entrada.5}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="nombre_producto" value="{{entrada.6}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
